:root {
    --primary-font-family:  'Nunito Sans', sans-serif;
 
    /* --gradient: linear-gradient(45deg, #FFDD99, #FF99BB); 
    --colour-one: #FFDD99;
    --colour-two: #FF99BB;
    --colour-three: #4200FF;
 
    --success-alert: #80FFBF;
    --error-alert: #FF6666; */
 
   }

body, h1, h2, h3, h4, h5, h6, p, .row{
    margin: 0;
    padding: 0;
}

.sign_in_header{
    margin: 400px 0 72px 0;
}

.profile_picture{
    width: 264px;
    height: 264px;
    background-color: #FFD966;
    border: 7px solid #000;
    border-radius: 132px;
    margin: 72px auto 64px auto;
}

.form_input{
    /* margin-top: 100px; */
}

input{
    height: 84px;
    border: 7px solid #000000;
    border-radius: 16px;
    margin: 40px 0 0 0 !important;
    padding-left: 16px !important;
    font-family:var(--primary-font-family);
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

input:focus{
    background: #FFD966;
    outline: none;
}

input::placeholder{
    font-family:var(--primary-font-family);
    font-size: 24px;
    font-weight: 700;
    color: #000000;

}

.small_input input:nth-child(1){
    margin-right: 48px !important;
}

.small_input input{
    min-width: 340px;
}

.btns{
    font-family:var(--primary-font-family);
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    padding-top: 20px;
}

.button{
    height: 84px;
    border: 7px solid #000000;
    border-radius: 16px;
    padding-top: 10px;
    margin: 40px 0 24px 0;
}

.register_btn{
    background-color: #FFD966;
    color: #000;
}

.sign_in_btn{
    background-color: #000;
    color: #fff;
    
}

@media only screen and (min-width: 768px) {
    .profile_picture {
      width: 200px;
      height: 200px;
      margin: 32px auto 23px auto;
    }

    input{
        margin-top: 30px !important;
    }

    .big_input input:nth-child(2){
        min-width: 340px;
        margin: 30px 0 0 -194px !important;
    }
    
    .big_input input:nth-child(3){
        min-width: 340px;
        margin: 30px 0 0 48px !important;
        
    }

    .button{
        margin-top: 20px;
    }
  }

  @media only screen and (min-width: 768px) {
    .profile_picture {
      width: 200px;
      height: 200px;
      margin: 32px auto 23px auto;
    }

    input{
        margin-top: 30px !important;
    }

    .big_input input:nth-child(2){
        min-width: 340px;
        margin: 30px 0 0 -194px !important;
    }
    
    .big_input input:nth-child(3){
        min-width: 340px;
        margin: 30px 0 0 48px !important;
        
    }

    .button{
        margin-top: 20px;
    }
  }