{% extends "form.html.twig" %}

{% block title %} Sign In {% endblock %} 

{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{{ asset('../css/registerSignIn.css') }}" />  {% endblock %} 

{% block header%}<h1 class="header sign_in_header col-12 text-center"> Sign In </h1>{% endblock %}

{% block form %}
    
    <div class="form_input row">

        <div class="big_input row">
            <input type="text" name="username" placeholder="Username" class="position-relative top-0 start-50 translate-middle-x col-12">
            <input type="password" name="password" placeholder="Password" class=" position-relative top-0 start-50 translate-middle-x col-12">
        </div>

    </div>

    <div class="btns text-center">
    
        <div class="sign_in_btn button col-4 position-relative top-0 start-50 translate-middle-x">Sign In</div>
        <div class="register_btn button col-4 position-relative top-0 start-50 translate-middle-x">Register</div>

    </div>

{% endblock %}
